.header{
    height: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: dodgerblue;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
}
.header__logo{
    margin: 0 5px;
    margin-top: 8px;
    background-color:dodgerblue;
}

.header__nav{
    /* text-align: right; */

    display: flex;
    margin: 0 1200px;
    
}
.header__option{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: blue;
}